*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background
{
    
    width: 100%;
    height: 720px;
}
.background .imgcake
{
    position: relative;
    width: 100%;
    opacity: 90%;
}

.pic
{
    position: absolute;
    top: 30px;
    display: flex;
    align-items: center;
    width: 95%;
    justify-content: space-between;
}

.pic img
{
    width: 200px;
}

.pic ul
{
    display: flex;
    list-style: none;
    width: 400px;
    justify-content: space-between;
    color:chocolate;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.content
{
    position: absolute;
    top: 200px;
    left: 450px;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: chocolate;
}
.back .menu
{
    width: 100%;
    text-align: center;
    font-size: 50px;
    color: chocolate;
}

.pic2
{
    display: grid;
    grid-template-columns: 350px 350px 350px 350px;
    column-gap: 30px;
    padding-left: 15px;
    padding-top: 30px;
}
.pic2 .item1
{
    background-color: rgb(218, 155, 111);
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    overflow: hidden;
}
.pic2 .item1 img
{
    width: 100%; 
}
.pic2 .item2
{
    background-color: rgb(218, 155, 111);
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    overflow: hidden;
}

.pic2 .item2 img
{
    width: 100%; 
}
.pic2 .item3
{
    background-color: rgb(218, 155, 111);
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    overflow: hidden;
}

.pic2 .item3 img
{
    width: 100%; 
}
.pic2 .item4
{
    background-color: rgb(218, 155, 111);
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    overflow: hidden;
}
.pic2 .item4 img
{
    width: 100%; 
}

.cake1 h2
{
    text-align: center;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: cornsilk;
}
.cake2 h2
{
    text-align: center;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: cornsilk;
}
.cake3 h2
{
    text-align: center;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: cornsilk;
}
.cake4 h2
{
    text-align: center;
     font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: cornsilk;
}

@media screen and (max-width: 768px)
{
    .background .imgcake
    {
        width: 1500px;
    }
    .pic 
    {
        width: 1400px;
    }
    .pic ul 
    {
        font-size: 30px;
    }
    .pic img
    {
        width: 200px;
    }
    .back .menu
    {
        width: 1500px;
    }
}
@media screen and (max-width: 768px )and (min-width:380px)
{
    .pic2 
    {
        grid-template-columns:  1fr 1fr ;
        grid-template-rows:1fr 1fr  ;
        row-gap: 30px;
        padding-left: 380px;
    }
}
@media screen and (max-width: 380px)
{
    .pic2 
    {
        
        grid-template-rows:500px 500px 500px 500px  ;
        row-gap: 30px;
        padding-left: 570px;
        
    }
    .item1
    {
        grid-row: 1 / span 1;
    }
    .item2
    {
        grid-row: 2 / span 1;
    }
    .item3
    {
        grid-row: 3 / span 1;
    }
    .item4
    {
        grid-row: 4 / span 1;
    }
}